/* Navbar CSS */
.navbar {
    background: #FFFEF5; 
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    width: 100%; 
    margin: 0; 
    padding: 0 80px; 
}

.navbar .navbar-brand {
    margin-left: 80px; 
}

.option {
    margin-right: 80px;
}

.nav-item {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 24px; 
}

.navbar .navbar-toggler {
    border: none; 
}

.navbar-collapse {
    justify-content: flex-end; 
}

.navbar .nav-link {
    color: #243036; 
    text-transform: capitalize; 
}

.navbar .nav-link:hover {
    color: #355933;
}

.navbar .nav-item.active {
    background: #FFFEF5;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* Responsiveness for Tablet (768px) */
@media (max-width: 768px) {
    .navbar {
        padding: 0 40px;
    }

    .navbar .navbar-brand {
        margin-left: 40px;
    }

    .option {
        margin-right: 40px;
    }

    .navBurger {
        margin-right: 40px;
    }

    .nav-item {
        margin-left: 16px;
        font-size: 14px;
    }
}

/* Responsiveness for Mobile (576px) */
@media (max-width: 576px) {
    .navbar {
        padding: 0 20px;
    }

    .navbar .navbar-brand {
        margin-left: 20px;
    }

    .option {
        margin-right: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-left: 0;
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
    }
}